<!-- The Footer -->

<footer
  aria-label="Site Info"
  class="
    d-flex flex-column justify-content-center text-muted
    flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3
  ">
  <p>
    {{- '©' }}
    <time>{{ 'now' | date: '%Y' }}</time>

    {% if site.email %}
      <a href="mailto:{{ site.email[0] }}">editor@404andchill.com</a>
    {% else %}
      <em class="fst-normal">{{ site.social.name }}</em>.
    {% endif %}

  </p>

<div id="random-badge" class="footer-badge">
  <noscript>
    <img src="{{ site.data.badges.badges | first }}" alt="Random Badge" class="img-fluid">
  </noscript>
</div>
</footer>
<script src="{{ 'https://404andchill.com/assets/js/random-badge.js' }}"></script>
