<h2 class="panel-heading">Serious Timewasters Ahead</h2>

<div class="image-container">
  <div class="image-item">
    <a href="https://404andchill.com/retro-tech-quiz/" target="_blank">
      <img src="https://404andchill.com/assets/img/rtq.jpg" alt="The Retro Tech Quiz" />
      <p class="caption">Think You’re a Tech Genius? Prove It.</p>
    </a>
  </div>
  <div class="image-item">
    <a href="https://404andchill.com/static-tv/" target="_blank">
      <img src="https://404andchill.com/assets/img/tss.jpg" alt="The TV Static Simulator" />
      <p class="caption">Relive the glory of rabbit ears with the TV Static Simulator</p>
    </a>
  </div>
  <div class="image-item">
    <a href="https://404andchill.com/vhs-simulator/" target="_blank">
      <img src="https://404andchill.com/assets/img/vhssim.jpg" alt="The Authentic VHS Simulator" />
      <p class="caption">Experience the Joy of Tracking Errors!</p>
    </a>
  </div>
</div>
