<h2 class="panel-heading">Clickbait? Maybe.</h2>

<div class="image-container">
  <div class="image-item">
    <a href="coins/" target="_blank">
      <img src="https://404andchill.com/assets/img/rppc.jpg" alt="Roy's Payphone Scramble" />
      <p class="caption">Nothing Says Fun Like Loose Change Panic</p>
    </a>
  </div>
  <div class="image-item">
    <a href="payphone/" target="_blank">
      <img src="https://404andchill.com/assets/img/paysim.jpg" alt="The Payphone Simulator" />
      <p class="caption">Relive the Joy of Clunky Tech and Dropped Calls</p>
    </a>
  </div>
  <div class="image-item">
    <a href="please-hold/" target="_blank">
      <img src="https://404andchill.com/assets/img/ihs.jpg" alt="The Infinite Hold Simulator" />
      <p class="caption">Hold Music You Didn’t Ask For, But Deserve</p>
    </a>
  </div>
</div>
