<h2 class="panel-heading">Random Stuff I’m Weirdly Proud Of</h2>

<div class="image-container">
  <div class="image-item">
    <a href="https://www.flickr.com/photos/bacarty/" target="_blank">
      <img src="https://404andchill.com/assets/img/flickr.jpg" alt="My Flickr Gallery" />
      <p class="caption">Proof I Once Left the House: My Flickr Gallery</p>
    </a>
  </div>
  <div class="image-item">
    <a href="https://www.youtube.com/@mixedsignals-sdr" target="_blank">
      <img src="https://404andchill.com/assets/img/vids.jpg" alt="Some weird videos I made" />
      <p class="caption">Weird Vids I Made (You’re Welcome)</p>
    </a>
  </div>
</div>


